# Análise exploratória de dados

In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from IPython.display import display, HTML
import numpy as np

## 1. Descrição dos dados

### 1.1 Dicionário de dados:

In [7]:
dictionary = pd.read_csv("../data/external/dictionary.csv")
dictionary

,variavel,descricao,tipo,subtipo
0,instant,Índice de registro,quantitativa,discreta
1,dteday,Data,qualitativa,nominal
2,season,Estação do ano,qualitativa,ordinal
3,yr,Ano,qualitativa,ordinal
4,mnth,Mês,qualitativa,ordinal
5,holiday,Se o dia é feriado ou não,qualitativa,nominal
6,weekday,Dia da semana,qualitativa,nominal
7,workingday,Se o dia não é fim de semana e nem feriado,qualitativa,nominal
8,weathersit,Clima,qualitativa,ordinal
9,temp,Temperatura normalizada em Celsius,quantitativa,contínua
10,atemp,Temperatura de sensação normalizada em Celsius,quantitativa,contínua
11,hum,Umidade do ar,quantitiva,contínua
12,windspeed,Velocidade do vento,quantitiva,contínua
13,casual,Contagem de usuários casuais,quantitiva,discreta
14,registered,Contagem de usuários registrados,quantitiva,discreta
15,cnt,"Contagem total de bicicletas alugadas, incluin...",quantitiva,discreta

### 1.2 Conjunto de dados:

In [5]:
df = pd.read_csv("../data/raw/day.csv")
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

## 2. Perguntas de partida e hipóteses

### A partir da análise dos dados podemos responder as seguintes perguntas:

- Quais fatores influenciam mais a demanda por bicicletas compartilhadas?
- Como a demanda por bicicletas varia ao longo do dia, da semana e das estações do ano?
- Quais são as diferenças entre o comportamento de usuários casuais e registrados?
- Quais condições climáticas têm o maior impacto negativo na utilização das bicicletas?
- Existe uma correlação significativa entre eventos especiais (como feriados e eventos locais) e o uso das bicicletas compartilhadas?
- Quais são os padrões de viagem mais comuns (ex. distância média, tempo de uso) e como eles variam entre diferentes grupos de usuários?

## 3. Insights